.overview
	.button--download 
		:display block
		:margin-bottom 24px
	.col--two
		:align-self flex-start
		+display-for(md sm xs)
			:width 100%
		h3 
			:font-size 20px 
			:font-weight normal
			:font-family 'lineto'	
			:margin-bottom 12px
		[data-expand]
			:margin-bottom 24px
			:cursor pointer	
		span.plus-sign
			:background $blue
			:width 8px
			:height 2px
			:padding-bottom 0
			:vertical-align middle
			:margin-left 8px
			:cursor pointer
			:transition all 0.4s ease
			&:after
				:content ''
				:background $blue
				:width 8px
				:height 2px
				:padding-bottom 0
				:transform rotate(90deg)
				:display block
				:transition all 0.4s ease
		span.plus-sign.closed
			&:after
				:transform rotate(0deg)		

		&:first-of-type
			+display-for(md sm xs)
				:margin-bottom 50px

		&:nth-of-type(2n + 2)
			:padding-left 78px
			+display-for(md sm xs)
				:padding-left 0
			>div
				&:first-of-type
					:margin-bottom 24px
					:border-bottom 2px solid $blue
					+display-for(xs)
						:margin-bottom 20px

	.col--two.featured-photo
		:position relative
		:text-align center

		.slider-image-gallery
			:overflow hidden
			:border none
			+display-for(lg xl)
				:height auto !important
		img
			:display block
			:width 100%
		.active-image
			+display-for(md sm xs)
				:display block
		.hidden-image
			+display-for(md sm xs)
				:display none
		.slider-arrow-left, .slider-arrow-right
			:position absolute
			:z-index 1000
			:top 50%
			:transform translateY(-50%)
			:cursor pointer
			+display-for(lg xl)
				:display none
			+display-for(md sm)
				:width 18px
			+display-for(xs)
				:width 11px	
		.slider-arrow-left
			:left 10px
			+display-for(md sm)
				:left 18px
		.slider-arrow-right
			:right 10px
			+display-for(md sm)
				:right 18px
		.slider-arrow-right, 
		.slider-arrow-left
			+display-for(xs)
				:max-width 12px		

	img.col--third.deal-photo
		// :position absolute
		:width 80px
		// :bottom 0
		// :padding-bottom 20px
		:display inline-block
		:margin-right 16px 
		:margin-top 12px
		&:last-of-type
			:margin-right 0
		+display-for(md sm xs)
			:z-index -1
			// :top 0
			// :left 0
			// :width 100%
			:margin 0
			:position static
			:width 100%
			:padding-bottom 0


	h2, p, span
		:color $blue
	h2, p
		+display-for(md sm)
			:width 80%
	h2
		:font-size 40px
		:font-weight normal
		:margin-bottom 24px
		:line-height 36px
		+display-for(xs)
			:font-size 25px
			:line-height 20px
			:margin-bottom 20px
	.price
		:color $green
		// :font-size 22px
		// :padding-bottom 4px	
		// :margin-bottom 20px	
	p.savings
		:font-size 16px
		:padding-bottom 0
		:margin-bottom 12px	
		&:nth-of-type(2)
			:margin-bottom 24px
	p.vendor, a.vendor
		:font-size 20px
		:margin-bottom 10px
		:padding 0
		+display-for(xs)
			:font-size 16px
			:margin-bottom 20px
	a.vendor
		:color $blue
		:display inline-block
	a.location
		:color $blue
		:margin-bottom 24px
		:display block
		:font-size 14px
	p
		:font-size 14px
		:line-height 21px
		:margin-bottom 40px
		+display-for(lg sm)
			:margin-bottom 20px
		+display-for(md xs)
			:margin-bottom 48px
		+display-for(xs)
			:font-size 16px

	span
		:padding-bottom 24px
		:display inline-block
		+display-for(xs)
			:padding-bottom 20px
	span.count
		:color $green
		:margin-left 20px
		:margin-right 4px
	span.social
		:padding-left 44px
		:width calc(100% - 60px)
		:display inline-block
		:position relative
	a.title--large
		:margin 110px 0
		:width 100%
		:text-align center
		+display-for(md sm)
			:font-size 60px
			:margin 80px
		+display-for(xs)
			:width 70%
			:max-width 240px
			:margin 50px auto
#company-description
	:display none
	:border-bottom none
	a.location 
		&:first-of-type
			:margin-bottom 8px		
.overview--charity
	span.social
		:padding-left 0
