.featured-charity 
	:color $blue
	:text-align center
	:padding 140px 0 50px 0
	:margin-bottom 126px
	.contained
		:max-width 780px
		:margin 0 auto
	a 
		:color $blue
		:display block
		:margin-bottom 42px
		:font-size 20px
	h2 
		:font-size 80px
		:margin-bottom 38px
	h3
		:font-size 30px	
		:margin-bottom 30px
		:line-height 42px
		:font-weight normal

	