.featured-deals
	:margin-bottom 40px
	+display-for(md sm)
		:margin-bottom 32px
	+display-for(xs)
		:margin-bottom 20px	
	.col--half
		span 
			:overflow hidden
			:display block
		&:hover
			img 
				:transform scale(1.02)
				:transform-style preserve-3d
				:backface-visibility hidden
				:filter brightness(101%)
			&:last-of-type
				.lineup-content
					:background lighten($green, 5)
			&:first-of-type
				.lineup-content
					:background lighten($blue, 5)

		img 
			:transition 0.3s all ease		

		a 
			:color white
		h3 
			:font-weight lighter	
			:font-size 24px
			:letter-spacing 1.2px
		+display-for(sm xs)
			:width 100%	
		.lineup-content
			:transition 0.3s all ease	
		&:last-of-type
			:background $green
			+display-for(md sm xs)
				:margin-bottom 0
		&:first-of-type
			.lineup-content 
				:background $blue
			+display-for(md sm)
				:margin-bottom 32px
			+display-for(xs)
				:margin-bottom 20px
						
			// :margin-right 0
		// &:nth-child(2n + 1)
		// 	:position relative
		// 	+display-for(md)
		// 		:height 640px
		// 		:margin-bottom 32px	
		// 	+display-for(sm)
		// 		:height 570px
		// 		:margin-bottom 32px
		// 	+display-for(xs)
		// 		:height 400px
		// 		:margin-bottom 20px	
		// 	a 
		// 		:position absolute
		// 		:width 100%
		// 		:height 100%	

	
		a
			:display block
			// &:first-of-type
			// 	:margin-bottom 40px	
			// 	+display-for(md sm)
			// 		:margin-bottom 32px
			// 	+display-for(xs)
			// 		:margin-bottom 20px	
		img 
			:width 100%
			:display block
