body //to accomodate for changed height of nav at xs view
	+display-for(sm xs)
		:margin-top 85px
.nav--sticky
	:position fixed
	:width 100%
	:background white
	:z-index 2000
	:padding 35px 0
	:margin-top -100px
	+display-for(sm xs)
		:padding 30px 0
		:margin-top -85px
		.col--three.social-links
			:display none
		.col--three
			&:nth-of-type(3n + 2)
				:width 80%
			&:first-of-type
				:width 20%
	.hamburger
		:padding 6px 0
		:cursor pointer
		:transition all 0.5s ease
		:z-index 10000

		span
			:transition all 0.5s ease
			:width 40px
			:height 4px
			:background $blue
			:display block
			&:first-of-type
				:margin-bottom 10px
	.hamburger.close
		&:hover
			:padding 5px 0
			span
				&:first-of-type
					:margin-bottom 12px
		+display-for(sm xs)
			:padding 3px 0
			&:hover
				:padding 2px 0

	.hamburger.active
		span
			:background white
			&:first-of-type
				:margin-bottom -4px
				:transform rotate(45deg)
				:transform-origin center
			&:last-of-type
				:transform rotate(-45deg)
				:transform-origin center
	.logo
		:width 240px
		:margin 0 auto
		:display block
		:padding 4.5px 0
		+display-for(sm xs)
			:width 187px
			:margin-left calc(100% - 187px)
	.social-links
		:text-align right

.nav--slide
	:position fixed
	:background $blue
	:top 0
	:bottom 0
	:padding 0 60px 0 80px
	:display flex
	:align-items center
	:left -100%
	+display-for(xs)
		:width 100%
		:text-align center
		:padding 0
	ul
		+display-for(xs)
			:width 100%

	li
		:width 200px
		:border-bottom 4px solid $blue
		:margin-bottom 40px
		:transition all 0.5s ease
		+display-for(xs)
			:margin 0 auto
			:display block
			:margin-bottom 40px
		&:hover
			:border-bottom 4px solid white

	a
		:color white
		:font-size 36px
		:display inline-block
		:margin-bottom 6px

.nav--admin
	>ul
		:display flex
		:justify-content space-around
	ul
		:color white
		:background $blue
		li
			:padding 10px 0
			:width 100%
			:text-align center
			:cursor pointer
			&:hover
				:text-decoration underline
		a
			:color white
		li.drop-down-parent
			:position relative
		ul.drop-down
			:position absolute
			:width 100%
			:top 40px
			:z-index 2000
			li
				:display block
				&:hover
					:background lighten($blue, 10%)
					:text-decoration none

.nav--footer
	:background $grey
	:color $blue
	:padding 46px 0 54px 0

	a
		:color $blue

	div.links
		:width 70%
		+display-for(xl)
			:width 80%
		+display-for(sm)
			:width 100%
			:margin-bottom 40px
		ul
			:float left
			:margin-right 90px
			&:last-of-type
				:margin-right 0
			+display-for(xs)
				:float none
				:margin-right 0
				:width 100%
				:margin-bottom 30px
			li
				:font-size 11px
				:text-transform uppercase
				:line-height 18px
				&:first-of-type
					:font-size 16px
					:padding-bottom 16px
					:display block
					:text-transform lowercase
	div.sign-up
		:width 30%
		+display-for(xl)
			:width 20%
		+display-for(sm)
			:width 40%
		+display-for(xs)
			:width 100%
		p
			:padding-bottom 16px
			:font-size 16px
		input[type='email']
			:width 100%
			:border 2px solid $blue
			:background $grey
			:margin-bottom 16px
			&::placeholder
				:font-size 11px
				:color $blue--light
		input[type='submit']
			:margin-bottom 0
			:text-align right


footer
	:background $blue
	:color $blue--light
	:font-size 10px
	img
		:width 20px
		:vertical-align middle
		:margin-left 6px
	p
		:padding 19px 0

		span
			:padding 0 18px
