.overlay
	:background cyan
	:z-index 100
	:display none

	h3, p
		:color white
	h3
		:font-size 30px
		:font-weight lighter
		:padding 60px 40px 40px 40px
	p
		:font-size 16px
		:padding 0 40px
.overlay--sold-out
	h3
		:position absolute
		:top 50%
		:left 50%
		:transform translate(-50%, -50%)
		:padding 0
		:text-transform uppercase
		:width 100%
		:text-align center	

.featured, .sub-featured
	.overlay
		:position absolute
		:top 0
		:width 100%
		:height 100%
.featured
	.overlay
		:background $green-light
.featured-deals
	.col--half
		:position relative
		&:first-of-type
			.overlay
				:background $green
		&:last-of-type
			.overlay
				:background $orange
