<ul class="list--square container container--flex">
	<li><a href="#"><img src="http://www.fillmurray.com/360/360" alt=""></a></li>
	<li><a href="#"><img src="http://www.fillmurray.com/370/370" alt=""></a></li>
	<li><a href="#"><img src="http://www.fillmurray.com/300/300" alt=""></a></li>
	<li><a href="#"><img src="http://www.fillmurray.com/390/390" alt=""></a></li>
	<li><a href="#"><img src="http://www.fillmurray.com/330/330" alt=""></a></li>
	<li><a href="#"><img src="http://www.fillmurray.com/400/400" alt=""></a></li>
	<li><a href="#"><img src="http://www.fillmurray.com/320/320" alt=""></a></li>
	<li><a href="#"><img src="http://www.fillmurray.com/700/700" alt=""></a></li>
</ul>

<!-- <ul class="square-list container container--flex">
	<li class="col--four"><a href=""></a></li>
	<li class="col--four"><a href=""></a></li>
	<li class="col--four"><a href=""></a></li>
	<li class="col--four"><a href=""></a></li>
	<li class="col--four"><a href=""></a></li>
	<li class="col--four"><a href=""></a></li>
	<li class="col--four"><a href=""></a></li>
	<li class="col--four"><a href=""></a></li>
</ul> -->

